@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
:root {
    --border: #FFD700;
    --font: #ffffff;
}
body {
    font-family: 'Libre Baskerville', serif;
    font-weight: 600;
    background-image: url(../images/pirates-3-bicubic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 650px;
    display: block;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    text-align: center;
    padding: 2rem 0;
    color: var(--font);
    font-size: 20px;
}

textarea {
    display: block;
    width: 100%;
    min-height: 20vh;
    background: transparent;
    color: var(--font);
    border: 3px solid var(--border);
    margin: 2rem auto;
    border-radius: 5px;
    padding: 1rem;
    font-family: 'Libre Baskerville', serif;
    font-weight: 600;
    font-size: 22px;
}
textarea::placeholder {
    color: var(--font);
}
textarea:focus {
    outline: none;
}
.btn {
    font-family: 'Libre Baskerville', serif;
    width: 100%;
    cursor: pointer;
    padding: 1rem 3rem;
    font-size: 22px;
    font-weight: 600;
    color: var(--font);
    border: 3px solid var(--border);
    background: transparent;
    border-radius: 5px;
    transition: all 250ms;
}
.btn:hover, .btn:focus {
    outline: none;
    color: var(--font);
}
footer {
    padding: 1rem 0 0 0;
    text-align: center;
    color: var(--font);
    font-size: 14px;
}
footer .dev {
    font-size: 16px;
}
footer .dev .link {
    font-weight: 400;
    text-decoration: none;
    color: var(--btn-blue);
}

/* SPINNER Loading animation */

#spinner {
    visibility: hidden;
    width: 50px;
    height: 50px;

    border: 5px solid #f3f3f3;
    border-top: 6px solid var(--border);
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

#spinner.show {
    visibility: visible;
}